<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Board</title>
</head>
<body>
<h1>Task Board</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>

